<%- include('partials/header') %>
<body>
  <%- include('partials/nav') %>

    <div class="content">
        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor nobis eius maxime beatae atque, exercitationem facilis impedit voluptas enim ut dolores alias mollitia voluptates dolorem magni ad accusamus delectus sed.</p>
    </div>

<%- include('partials/footer') %>
