<%- include('partials/header') %>
<body class="shop-page">
  <%- include('partials/nav') %>
<header>
    <div class="content">
        <p class="title">MAGASIN</p>
    </div>
</header>
<main>
    <div class="list" id="list"></div>
    <div class="pagenumbers" id="pagination"></div>
</main>
<!-- Modal -->
<div class="modal is-hidden" id="modal">
    <div class="modal-content">
      <h2>Modifier l'élément</h2>
      <form id="modal-form">
        <div>
          <label for="description">Description :</label>
          <input type="text" id="description" name="description">
        </div>
        <div>
          <label for="category">Catégorie :</label>
          <input type="text" id="category" name="category">
        </div>
        <div>
          <label for="require_level">Niveau requis :</label>
          <input type="number" id="require_level" name="require_level">
        </div>
        <div class="modal-buttons">
          <button type="submit" id="submit-button">Modifier</button>
          <button type="button" id="cancel-button">Annuler</button>
        </div>
      </form>
    </div>
  </div>



<%- include('partials/footer') %>
