<div class="container">
    <nav>
        <ul>
            <li><a href="/admin/users">Utilisateurs</a></li>
            <li><a href="/admin/family">Familles</a></li>
            <li><a href="/admin/quest">Quêtes</a></li>
            <li><a href="/admin/shop">Magasin</a></li>
            <li><a href="#transactions">Transactions</a></li>
        </ul>
    </nav>
</div>